.navbar {
    padding: 0 1rem;
}

.nav-user-item {
    margin-right: 5%;
}

.dropdown-menu {
    margin-right: 5%;
}

.dropdown-menu a:hover {
    background-color: #0275d8;
    color: #fff;
}

.widget-container {
    margin: 1% 1% 0 1%;
}

.widget {
    box-shadow: 1px 1px 4px #818583;
    height: 80px;
}

.widget-content {
    padding-left: 0;
    height: 100%;
    border-right: 1px solid #818583;
}

.widget-content-blue {
    background-color: #36a9e1;
}

.widget-content-red {
    background-color: #D31D32;
}

.widget-content-yellow {
    background-color: #fabb3d;
}

.chart-container {
    margin: 1% 1% 0 1%;
}

.chart-area {
    box-shadow: 1px 1px 4px #818583;
    height: 250px;
}

.table-area {
    margin: 1% 1% 0 1%;
}

.table-area table thead {
    color: #FFF;
}

.form-input {
    margin: 1% 1% 0 1%;
    box-shadow: 1px 1px 4px #818583;
    height: 100%;
    padding-bottom: 1%;
}

.form-header {
    border-bottom: 1px solid #E4E4DE;
    width: 90%;
    font-style: bold;
}

.header-text {
    margin-bottom: 1%;
}